<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="request-tests">
      <directory suffix="Test.php">./request</directory>
    </testsuite>
    <testsuite name="general-tests">
      <directory suffix="Test.php">./general</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./../src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="./../tmp/report" lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="./../tmp/coverage-clover.xml"/>
    <log type="testdox-html" target="./../tmp/testdox.html"/>
  </logging>
</phpunit>
