<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php" colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
>
  <testsuites>
    <testsuite name="request-tests">
      <directory suffix="Test.php">./Request</directory>
    </testsuite>
    <testsuite name="general-tests">
      <directory suffix="Test.php">./General</directory>
    </testsuite>
    <testsuite name="live-tests">
      <directory suffix="Test.php">./Live</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./../src</directory>
    </include>
  </source>
  <coverage includeUncoveredFiles="true"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
    <report>
      <clover outputFile="./../tmp/coverage-clover.xml"/>
      <html outputDirectory="./../tmp/report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <logging>
    <testdoxHtml outputFile="./../tmp/testdox.html"/>
  </logging>
</phpunit>
